<div class="container">
  <h1>Welcome to Ruby Racerzz!</h1>
  <h3> Please enter your names </h3>
  <form action='/game' method='post'>
    <input type="text" name="first_player_name" placeholder="first player">
    <input type="text" name="second_player_name" placeholder="second player">
    <input type="submit" value="submit">  
     
  </form>
</div>
